@charset 'utf-8';

$header-color: rgba(255, 255, 255, 1) !default;
$header-hover-color: rgba(200, 200, 200, 0.75) !default;

$palette1: #554455 !default;
$palette2: #ffaa99 !default;
$palette3: #ffdddd !default;
$palette4: #dd9999 !default;
$palette5: #aa6666 !default;

$header_li-width: 125px !default;
$header_li-width-sp: 12vw !default;
$header_SNS-width: 30px !default;
$header_SNS-width-sp: 3vw !default;

//参加団体一覧
$group_cnt-row-height: 150px;
$group_cnt-row-height-sp: 7.5vh;

//トップページ下矢印
$home_down-size: 7.5vw !default;
$home_down-size-expand: 10vw !default;
//レスポンシブ用
$home_down-size-sp: 20vw !default;
$home_down-size-expand-sp: 25vw !default;

//横スライド矢印
$arrow-size: 5vw !default;
//レスポンシブ用
$arrow-size-sp: 10vw !default;

$iPadPro: 1025px !default;
$smartphone: 600px !default;
