@charset 'utf-8';

@import "_definition";
#id-foodInfo{
    margin-top: 5vw;
}

#id-foodInfo h1{
    font-size: 2.5vw;
    text-align: center;
}

#id-foodInfo h2{
    font-size: 2vw;
}
#id-foodInfo h2::before {
    background: url("");
}

#id-foodInfo h3{
    font-size: 1vw;
    text-align: right;
}


#Asahi{
    width: 49%;
    margin-right: 1%;
    display: inline-block;
    vertical-align: top;
}

#NakaniwaKissa{
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.foodInfoTable{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.5vw;
    background-color: rgba(255, 255, 255, 0.5);
}
.foodInfoTable td{
    display: table-cell;
    padding: 1vw;
    text-align: center;
    font-size: 1.5vw;
    white-space: nowrap;
}
.foodInfoTable td:first-child{
    width: 40%;
}
.foodInfoTable td:nth-child(2){
    width: 60%;
}



@media only screen and (max-width: $iPadPro) and (max-aspect-ratio: 6/5) {
    #id-foodInfo h1{
        font-size: 5vw;
    }
    #id-foodInfo h2{
        font-size: 4vw;
    }
    #id-foodInfo h3{
        font-size: 2vw;
    }
    .foodInfoTable{
        width: 100%;
    }
    #Asahi{
        width: 100%;
    }
    #NakaniwaKissa{
        width: 100%;
    }
}
