@charset 'utf-8';

@import "_definition";

#foodInfoBody{
    background-image:url("../img/DSC02203-Dev.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#foodInfo{
    padding: 2.5vh;
    margin: 0;
    display: block;
}

#foodInfo h1{
    font-size: 2.5vw;
    text-align: center;
    margin-top: 2.5vw;
    margin-bottom: -2.5vw;
}

#foodInfo h2{
    font-size: 2vw;
    line-height: 0;
}

#foodInfo h3{
    font-size: 1vw;
    text-align: right;
    margin-top: 1vw;
    margin-bottom: 2vw;
}

#foodInfoContainer{
    display: flex;
}

#Asahi{
    margin-left: auto;
    margin-right: auto;
}

#Nakaniwa50th{
    margin-left: auto;
    margin-right: auto;
}

.foodInfoTable{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin-bottom: 1.5vw;
    background-color: rgba(255, 255, 255, 0.75);
}


.foodInfoTable td{
    display: table-cell;
    padding: 1vw;
    text-align: center;
    font-size: 2vw;
    white-space: nowrap;
    width: 17vw;
}

.wait{
}

.waitTime{
    width: 25vw;
}


@media only screen and (max-width: $iPadPro) {
    //
    #foodInfo h1{
        font-size: 5vw;
    }
    
    #foodInfo h2{
        font-size: 4vw;
    }
    
    #foodInfo h3{
        font-size: 2vw;
    }

    .foodInfoTable{
        width: 90vw;
    }
    .foodInfoTable td{
        width: 25vw;
        font-size: 4vw;
    }
    .waitTime{
        width: 50vw;
    }
    #foodInfoContainer{
        display: block;
    }
}
