@charset 'utf-8';

@import "definition";

@media only screen and (max-width: $iPadPro) {
    //トップページ下矢印
    @keyframes HomeDown{
        0% {font-size: $HomeDown-size-sp;}
        12.5% {font-size: $HomeDown-size-expand-sp;}
        25% {font-size: $HomeDown-size-sp;}
        100% {font-size: $HomeDown-size-sp;}
    }
    #HomeDown{
        font-size: $HomeDown-size-sp;
    }

    #header li a{
        font-size: 1.5vw;
    }
    .headerTitle a{
        width: $Header-li-width-sp;
    }
    .headerText a{
        width: $Header-li-width-sp;
    }
    .headerSNS a{
        width: $Header-SNS-width-sp;
    }

    //アクセス
    #AccessContainer{
        display: block;
    }
    #AccessText{
        width:90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    #idAccess img{
        width:90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    //横スライド矢印
    #arrowL{
        font-size: $SlideArrow-size-sp;
    }
    #arrowR{
        font-size: $SlideArrow-size-sp;
    }
}

@media only screen and (max-width: $smartphone) {
    #header{
        display: none;
    }
    #header-sp{
        display: block;
    }
    .slicknav_menu{
        display: block;
    }
    #header-currentSection-sp{
        display: block;
    }
    .sectionTitle{
        display: none;
    }

    /*ハンバーガーメニューのエフェクト*/
    .slicknav_icon,
    .slicknav_icon span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
    }
    .slicknav_icon {
        position: relative;
        width: 50px;
        height: 44px;
    }
    .slicknav_menu .slicknav_icon-bar{
        position: absolute;
        left: 0;
    }
    .slicknav_icon span:nth-of-type(1) {
        top: 0;
    }
    .slicknav_icon span:nth-of-type(2) {
        top: 3px;
    }
    .slicknav_icon span:nth-of-type(3) {
        bottom: 0;
    }
    .active .slicknav_icon-bar:nth-of-type(1) {
        -webkit-transform: translateY(6px) rotate(-45deg);
        transform: translateY(6px) rotate(-45deg);
    }
    .active .slicknav_icon-bar:nth-of-type(2) {
        opacity: 0;
    }
    .active .slicknav_icon-bar:nth-of-type(3) {
        -webkit-transform: translateY(-6px) rotate(45deg);
        transform: translateY(-6px) rotate(45deg);
    }

    #idInformation{
        background-image: url("../img/1242_2208_01.jpg");
        background-position: top center;
    }
}
