@charset 'utf-8';

@import "definition";

@media only screen and (max-width: $iPadPro) and (max-aspect-ratio: 6/5) {
    #menu-sp {
        display: block;
    } //トップページ下矢印
    /*@keyframes home_down {
        0% {
            font-size: $home_down-size-tb;
        }
        12.5% {
            font-size: $home_down-size-expand-tb;
        }
        25% {
            font-size: $home_down-size-tb;
        }
        100% {
            font-size: $home_down-size-tb;
        }
    }*/
    #home_down {
        font-size: $home_down-size-tb;
        bottom: 15px;
    }
    .home_logo {
        width: 60%;
        top: 10%;
    }
    .home_content {
        flex-direction: column;
        align-items: center;
        top: 37.5%;
    }
    .countdown {
        width: 60%;
        margin-bottom: 5%;
        padding: 2.5% 5% 0 5%;
    }
    .countdown_text {
        font-size: 4vw;
        line-height: 1;
    }
    .countdown_days {
        font-size: 12.5vw;
    }
    .news,
    .realtime{
        width: 65%;
        padding: 2.5%;
    }
    .news_headline,
    .realtime_headline {
        font-size: 3vw;
        margin-bottom: 7.5px;
    }
    .realtime_headline {
        display: none;
    }
    .news_text {
        font-size: 2vw;
    }

    .realtime_text {
        font-size: 5vw;
    }
    .realtime_text.__small {
        font-size: 2.5vw;
    }
    .content {
        width: 85vw;
        padding: 1.25vw 2.5vw;
    }
    .content.__narrow {
        width: 85vw;
        padding: 1.25vw 2.5vw;
    } //概要
    #id-about h3 {
        margin-left: 2vw;
    }
    #id-about p {
        margin-left: 4vw;
    } //ご案内
    .information_text {
        width: 90%;
        margin: 0 auto 2.5% auto;
    } //アクセス
    #id-access img {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2.5%;
    }
    /*#id-access p {
        margin-left: 2vw;
    }*/
    .access_cnt {
        //flex-direction: column;
    }
    .access_text {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #attention_btn,
    .timetable_btn {
        font-size: 4vw;
        padding: 0.5em;
    }

}

@media only screen and (max-width: $iPad) and (max-aspect-ratio: 6/5) {
    .home_logo {
        width: 70%;
        top: 10%;
    }
    .home_content {
        flex-direction: column;
        align-items: center;
        top: 35%;
    }
    .countdown {
        width: 70%;
        margin-bottom: 5%;
        padding: 2.5% 5% 0 5%;
    }
    .countdown_text {
        font-size: 5vw;
        line-height: 1.5;
    }
    .countdown_days {
        font-size: 15vw;
    }
    .news,
    .realtime {
        width: 70%;
        padding: 5%;
    }
    .news_headline {
        font-size: 3.5vw;
        margin-bottom: 10px;
    }
    .news_text {
        font-size: 2.5vw;
    }
}

@media only screen and (max-width: $smartphone) {

    #menu-sp {
        left: -70vw;
    }

    #menu-sp_nav {
        padding: 5vw;
        width: 60vw;
    }
    .menu-sp_icon {
        position: absolute;
        width: 12.5vw;
        height: 12.5vw;
        margin-left: 72.5vw;
    }

    #fp-nav ul li a span {
        display: none;
    }


    .home_logo {
        width: 80%;
        top: 10%;
    }
    .home_content {
        top: 30%;
        width: 90%;
    }
    .countdown {
        width: 80%;
        margin-bottom: 5%;
        padding: 2.5% 5% 0 5%;
    }
    .countdown_text {
        font-size: 6vw;
        line-height: 1.5;
    }

    .countdown_days {
        font-size: 17.5vw;
    }
    .news,
    .realtime {
        width: 85%;
        padding: 2.5%;
    }
    .news_headline {
        font-size: 5vw;
        margin-bottom: 10px;
    }
    .news_text {
        font-size: 3.5vw;
    }

    .realtime_text {
        font-size: 7vw;
    }
    .realtime_text.__small {
        font-size: 4vw;
    }
    //トップページ下矢印
    /*@keyframes home_down {
        0% {
            font-size: $home_down-size-sp;
        }
        12.5% {
            font-size: $home_down-size-expand-sp;
        }
        25% {
            font-size: $home_down-size-sp;
        }
        100% {
            font-size: $home_down-size-sp;
        }
    }*/
    #home_down {
        font-size: $home_down-size-sp;
    }

    .access_text {
        margin: 0;
        width: 100%;
    }

    .group_cnt {
        font-size: 5vw;
    }
}

@media only screen and (max-aspect-ratio: 1/1) {
    //団体分類のレイアウト変更
    .group_cnt {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: $group_cnt-row-height-sp $group_cnt-row-height-sp $group_cnt-row-height-sp $group_cnt-row-height-sp $group_cnt-row-height-sp $group_cnt-row-height-sp $group_cnt-row-height-sp;
    }
    .group_cnt_exhibit {
        grid-column: 1/2;
        grid-row: 1/4;
        font-size: 5vw;
    }
    .group_cnt_theater {
        grid-column: 2/3;
        grid-row: 1/4;
        font-size: 5vw;
    }
    .group_cnt_perform {
        grid-column: 1/2;
        grid-row: 4/7;
        font-size: 4.5vw;
    }
    .group_cnt_h3 {
        grid-column: 2/3;
        grid-row: 4/5;
        background: url("../img/group-icon/group-icon_%E4%B8%80%E8%A6%A7.png") no-repeat center;
        font-size: 4vw;
    }
    .group_cnt_messe {
        grid-column: 2/3;
        grid-row: 5/6;
        background: url("../img/group-icon/group-icon_%E4%B8%80%E8%A6%A7.png") no-repeat center;
        font-size: 4vw;
    }
    .group_cnt_chuya {
        grid-column: 2/3;
        grid-row: 6/7;
        background: url("../img/group-icon/group-icon_%E4%B8%80%E8%A6%A7.png") no-repeat center;
        font-size: 4vw;
    }
    .group_cnt_list {
        grid-column: 1/3;
        grid-row: 7/8;
        font-size: 4vw;
    }
}
