@charset 'utf-8';
* {
    margin: 0;
    line-height: 1.5;
}

body {
    font-family: "Open Sans", "こぶりなゴシック W3 JIS2004", sans-serif;
    font-weight: 400;
}

h1 {
    text-align: center;
    font-family: "Open Sans", "こぶりなゴシック W6 JIS2004", sans-serif;
    font-weight: 600;
    font-size: 2.5vw;
    margin: 0.5em;
}

h2 {
    font-family: "Open Sans", "こぶりなゴシック W3 JIS2004", sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
    margin: 0.5em;
}
//h2行頭文字
.content h2::before {
    content: "　";
    display: inline-block;
    background: url("../img/ringS_black.svg") no-repeat;
    background-size: contain;
    width: 1.5vw;
    margin-top: 0.4vw;
    margin-right: 0.5vw;
    vertical-align: middle;
}

h3 {
    font-size: 1.25vw;
    font-weight: 400;
    margin: 0.5em;
}

p {
    font-size: 1vw;
    margin: 0.5em;
}

li {
    font-size: 1vw;
}

td {
    font-size: 1vw;
}

a {
    text-decoration: none;
    color: #333333
}

ul {
    list-style-type: none;
}

.br-sp {
    display: none;
}

.__alignL {
    text-align: left;
}

.__alignR {
    text-align: right;
}

.__indent1{
    margin-left: 1em;
}
.__indent2{
    margin-left: 2em;
}

@media only screen and (max-width: $iPadPro) and (max-aspect-ratio: 6/5) {

    h1 {
        font-size: 4.5vw;
    }
    h2 {
        font-size: 3.5vw;
    }
    //h2行頭文字
    .content h2::before {
        width: 3.5vw;
        margin-top: 1vw;
        margin-right: 1vw;
    }
    h3 {
        font-size: 2.5vw;
    }
    p {
        font-size: 2vw;
    }
    li {
        font-size: 2vw;
    }
    td {
        font-size: 2vw;
    }
    #menu {
        display: none;
    }
    #menu-sp {
        display: block;
    }
    #menu li a {
        font-size: 1.5vw;
    }
}

@media only screen and (max-width: $smartphone) {

    h1 {
        font-size: 6vw;
    }
    h2 {
        font-size: 4.5vw;
    }
    //h2行頭文字
    .content h2::before {
        width: 4.5vw;
        margin-top: 1vw;
        margin-right: 1.5vw;
    }
    h3 {
        font-size: 3.5vw;
    }
    p {
        font-size: 3.25vw;
    }
    li {
        font-size: 3.25vw;
    }
    td {
        font-size: 3.25vw;
    }
    .br-sp {
        display: inline;
    }
    .br-pc {
        display: none;
    }
    .group-list tr td{
        font-size: 3vw;
    }
}
