@charset 'utf-8';

@import "_definition";
//@import "_foodInfo";

*{
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

body{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-family: "新ゴ DB","Shin Go Debold",sans-serif;
    font-size: 2.5vw;
}
h2{
    font-family: "新ゴ M","Shin Go Medium",sans-serif;
    font-size: 1.5vw;
}
h3{
    font-family: "新ゴ R","Shin Go Regular",sans-serif;
    font-size: 1vw;
}
p{
    font-family: "新ゴ R","Shin Go Regular",sans-serif;
    font-size: 1vw;
}
li{
    font-family: "新ゴ R","Shin Go Regular",sans-serif;
    font-size: 1vw;
}
td{
    font-family: "新ゴ R","Shin Go Regular",sans-serif;
    font-size: 1vw;
}
a{
    font-family: "新ゴ R","Shin Go Regular",sans-serif;
    text-decoration: none;
    color: #333333
}
ul{
    list-style-type: none;
}
.br-sp{
    display: none;
}

//ヘッダー
#menu{
    width: 10%;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
    position: fixed;
    z-index: 10;
    background-color: $menu-color;
    opacity: 0;
    transition: 1s all ease-out;
}
#menu.active{
    opacity: 1;
    left: 2.5%;
}
#menu ul{
    margin: 0;
    padding: 0;
    display: inline-block;
    height: auto;
}

#menu li{
    text-align: left;
}
#menu li a{
    display: inline-block;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 15px;
    padding: 15px;
    vertical-align: middle;
}


#menu li a:after{
    background-color: $menu-hover-color;
    bottom: 0;
    content: '';
    display: block;
    height: 1.5px;
    position: absolute;
    transition: .25s all;
    width: 0;
}
#menu li a:hover::after{
    width: 100%;
}
#menu li.active a:after{
    width: 100%;
}

#menu-sp{
    display: none;
    position: fixed;
    width: 40%;
    padding-left: 10px;
    height: 39px;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    z-index: 110;
    border-right: solid 1px;
}
#menu-sp a{
    color: #fff;
}
#menu-sp{
    display: none;
}


//トップページ
#id-home{
    //background-image: url("../img/1920_1080_00.jpg");
    //background-image: url("../img/bg.svg");
    background-color: $palette5;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
}
@keyframes home_down{
    0% {font-size: $home_down-size;}
    12.5% {font-size: $home_down-size-expand;}
    25% {font-size: $home_down-size;}
    100% {font-size: $home_down-size;}
}

#home_down{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    color:#fff;
    font-size: $home_down-size;
    margin: 0;
    width: 100%;
    height: 1em;

    animation-name: home_down;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

//概要
#id-about{
    background-color: $palette2;
}


//アクセス
#id-access{
    //background-color: $palette3;
    background-image: url("../img/bg2.png");
    background-repeat: repeat-y;
    background-size: cover;
}

#id-access h2{
    text-align: left;
}

#id-access li{
    text-align: left;
}

#id-access img{
    float: left;
    width: 27.5%;
    margin-left: 20%;
    margin-right: 2.5%;
}
.access_text{
    float: left;
    width: 27.5%;
    margin-left: 2.5%;
    margin-right: 20%;
}
.access_text ul{
    margin-left: 2.5%;
    padding: 0;
}


//ご案内
#id-notice{
    background-color: $palette5;
    background-position: top left;
    background-repeat: repeat-y;
    background-size: cover;
}

.notice_cnt{
    display: block;
}

.notice_text{
    width: 60%;
    margin: 0 auto 2.5% auto;
    padding: 1px 10px 1px 10px;
    background-color: rgba(255, 255, 255, 0.75)
}
.notice_text p{
    margin-left: 2.5%;
}

//参加団体
#id-group{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

//ナビゲーショングリッド
.group_cnt{
    margin-left: 10vw;
    margin-right: 10vw;
    display: grid;
    grid-gap: 2.5vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: $group_cnt-row-height $group_cnt-row-height;
    font-size: 2vw;
}
.group_cnt a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
}
//各ブロック
.group_cnt_exhibit{
    grid-column: 1/5;
    grid-row: 1/2;
    background-color: $palette3;
}
.group_cnt_theater{
    grid-column: 5/9;
    grid-row: 1/2;
    background-color: $palette4;
}
.group_cnt_perform{
    grid-column: 9/13;
    grid-row: 1/2;
    background-color: $palette5;
}
.group_cnt_h3{
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: $palette2;
}
.group_cnt_messe{
    grid-column: 4/7;
    grid-row: 2/3;
    background-color: $palette1;
}
.group_cnt_chuya{
    grid-column: 7/10;
    grid-row: 2/3;
    background-color: $palette1;
}
.group_cnt_list{
    grid-column: 10/13;
    grid-row: 2/3;
    background-color: $palette1;
}


//横スライド矢印
#arrowL{
    font-size: $arrow-size;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}
#arrowR{
    font-size: $arrow-size;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

//デコ情報
.group-info_img{
    width: 80%;
    display: block;
    margin: auto;
}

.group-info{
    display: inline-block;
    //vertical-align: top;
}

//PC用デコ3団体表示
.group-info.__display3.__L1{
    margin-left: 4.5%;
    width: 30%;
}
.group-info.__display3.__M1{
    width: 30%;
}
.group-info.__display3.__R1{
    margin-right: 4.5%;
    width: 30%;
}
.group-info.__display3.__L2{
    @extend .group-info.__display3.__L1;
}
.group-info.__display3.__M2{
    @extend .group-info.__display3.__M1;
}
.group-info.__display3.__R2{
    @extend .group-info.__display3.__R1;
}
//PC用デコ2団体表示
.group-info.__display2.__L{
    margin-left: 4.5%;
    width: 45%;
}
.group-info.__display2.__R{
    margin-right: 4.5%;
    width: 45%;
}

.group-link a{
    color: #555;
}

#id-timetable{
    background-color: $palette4;
    background-repeat: no-repeat;
    background-size: cover;
}

#id-downloads{
    background-color: $palette1;
    background-repeat: no-repeat;
    background-size: cover;
}

//参加団体一覧
#id-group-info{
    text-align: center;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width: 100%;
}

#id-group-list{
    text-align: center;
    width: 100%;
    padding-bottom: 40px;
}

.group-list{
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.group-list td{
    padding: 7.5px 5px 7.5px 5px;
    text-align: left;
}

.group-section_anchor {
    display: block;
    position: relative;
    visibility: hidden;
    top: -39px;
}

.group-section {
    background-color: $palette2;
    height: auto;
    padding: 5px 0;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.group-list_cnt, .group-info_cnt{
    position: fixed;
    display: inline-block;
    width: 100vw;
    height: 100vh;
    border: 0;
    z-index: 1000;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.95);
    opacity: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.group-list_iframe, .group-info_iframe{
    //display: block;
    position: absolute;
    height: 0;
    max-height: 90%;
    max-width: 100%;
    min-height: 90%;
    min-width: 100%;
    width: 0;
    //top: 50%;
    //left: 50%;
    //transform: translate(-50%, -50%);
    border-style: none;
    //vertical-align: bottom;
}
.group-list_iframe{
    max-height: 100%;
    min-height: 100%;
}
.group-list_close, .group-info_close{
    position: fixed;
    bottom: 0px;
    padding: 10px 10px 0px 10px;
    z-index: 1100;
    font-size: 40px;
    left: 50vw;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
}
.group-list_footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 40px;
    background-color: #fff;
    text-align: center;
}
.group-list_close{
    font-size: 40px;
}

.deco-icon{
    height: 30px;
}


@import "_responsive-sp";
