@charset 'utf-8';

@import "_definition";
@import "_text";
* {
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

html::before {
    content: ' ';
    display: block;
    background-color: white;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -10;
}

body {
    margin: 0;
    padding: 0;
}

#fullpage {
    width: 100%;
    overflow-x: hidden;
}

//ロード画面
#loader {
    position: fixed;
    width: 150vw;
    height: 150vh;
    top: -25vh;
    left: -25vw;
    background-color: #fff;
    z-index: 99999;
    opacity: 100;
}

#loader img {
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 70vw;
}

#loader.loaded {
    visibility: hidden;
    transition: 1s all ease-out;
    opacity: 0;
}

//コンテンツを暗くする
#blackout,
#blackout_group-info {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    transition: .75s;
    width: 150vw;
    height: 150vh;
    top: -25vh;
    left: -25vw;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 40;
}

#blackout.active,
#blackout_group-info.active {
    visibility: visible;
    transition: .75s all ease-out;
    opacity: 100;
}

#whiteout_group-info {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    transition: .75s;
    width: 150vw;
    height: 150vh;
    top: -25vh;
    left: -25vw;
    background-color: rgba(255, 255, 255, 1);
    z-index: 40;
}

#whiteout_group-info.active {
    visibility: visible;
    transition: .75s opacity ease-out;
    opacity: 100;
}

//ヘッダー
#menu {
    width: 9%;
    left: -10%;
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    z-index: 10;
    background-color: $menu-color;
    opacity: 0;
    transition: 1s all ease-out;
    margin: 0;
    padding: 0.5%;
}

#menu.active {
    opacity: 1;
    left: 2.5%;
}

#menu li {
    text-align: center;
}

#menu li a {
    display: inline-block;
    font-size: 1vw;
}

.menu_text a {
    width: 90%;
    padding: 10% 5%;
}

.__coming-soon a {
    color: #888;
}

.menu_SNS a {
    width: 25%;
    padding: 10% 2.5%;
}

#menu li a:after {
    background-color: $menu-hover-color;
    content: '';
    display: block;
    height: 2px;
    position: relative;
    left: 5%;
    top: 3px;
    transition: .25s;
    width: 90%;
    transform-origin: center;
    transform: scale(0, 1);
}

#menu li .menu_nohover:after {
    background-color: rgba(255, 255, 255, 0);
}

#menu li a:hover::after {
    transform: scale(1, 1);
}

#menu li.active a:after {
    transform: scale(1, 1);
}

#menu img {
    width: 100%;
    padding-top: 0.5vw;
}

#menu-sp {
    display: none;
    position: fixed;
    z-index: 50;
    transition: .75s;
    left: -50vw;
}

#menu-sp_nav {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 2.5vw;
    width: 45vw;
    background-color: $menu-color;
    text-align: center;
}

#menu-sp li a {
    font-size: 5vw;
    line-height: 2;
}

.menu-sp_text a {
    display: inline-block;
    width: 100%;
}

.menu-sp_SNS a {
    display: inline-block;
    margin: 0 3vw;
    width: 20%;
}

.menu-sp_icon {
    position: absolute;
    width: 10vw;
    height: 10vw;
    margin-top: 2.5vw;
    margin-left: 52.5vw;
}

.menu-sp_icon.__open {
    background: url("../img/nav_open.svg") no-repeat;
    display: block;
}

.menu-sp_icon.__close {
    background: url("../img/nav_close.svg") no-repeat;
    display: none;
}

body.popup {
    background-color: rgba(255, 255, 255, 0);
}

//横丸ナビゲーション
#fp-nav ul li a span {
    background-color: #fff;
}

//トップページ
#id-home {
    text-align: center;
    position: relative;
}

/*@keyframes home_down {
    0% {
        font-size: $home_down-size;
    }
    12.5% {
        font-size: $home_down-size-expand;
    }
    25% {
        font-size: $home_down-size;
    }
    100% {
        font-size: $home_down-size;
    }
}*/

.home_logo {
    position: absolute;
    left: 49%;
    transform: translateX(-50%);
    width: 40%;
    top: 12.5%;
}

//下部コンテンツ
.home_content {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 47.5%;
    width: 75%;
    justify-content: space-around;
}

//カウントダウンクロック
.countdown {
    width: 32.5%;
    text-align: center;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
    line-height: 1.25;
    padding: 2.5% 3.75%;
}

.countdown_text {
    font-size: 2.5vw;
}

.countdown_days {
    font-size: 7.5vw;
    line-height: 1.25;
}

//新着情報
.news,
.realtime{
    width: 37.5%;
    text-align: center;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 2.5% 1.25%;
}

.news_headline,
.realtime_headline{
    font-size: 1.75vw;
    margin-bottom: 5px;
}

.news_text {
    font-size: 1.25vw;
    text-align: left;
}

.news span {
    padding: 10px;
}

.realtime_text{
    color: #fff;
    font-size: 2.2vw;
}
.realtime_text.__small{
    color: #fff;
    font-size: 1.1vw;
}

#home_down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    color: #fff;
    font-size: $home_down-size;
    margin: 0;
    width: 100%;
    height: 1em; //animation-name: home_down;
    //animation-delay: 3s;
    //animation-duration: 2s;
    //animation-iteration-count: infinite;
}

//本文cnt
.content {
    position: relative;
    margin: auto;
    width: 65vw;
    padding: 2.5vh 2.5vw;
    background-color: rgba(255, 255, 255, 0.5);
}

.content.__narrow {
    width: 60vw;
    padding: 2.5vh 5vw;
}


//概要
//アクセス
#id-access {
    background-repeat: repeat-y;
    background-size: cover;
}

#id-access img {
    display: inline-block;
    width: 45%;
    margin-right: 2.5%;
    vertical-align: top;
}

.access_text {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

#attention_btn,
.timetable_btn{
    font-size: 1.5vw;
    text-align: center;
    background-color: $palette1;
    padding: 0.25em;
    color: #fff;
    border-radius: 0.25em;
    margin: 1em 0.25em;
}
.timetable_btn{
    padding: 0.5em;
}
#timetable_btn_day1{
    background-color: $palette4;
}
#timetable_btn_day2{
    background-color: $palette3;
}
#timetable_btn_day3{
    background-color: $palette2;
}

//参加団体
#id-group {
    text-align: center;
}

//ナビゲーショングリッド
.group_cnt {
    display: grid;
    grid-gap: 2.5vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: $group_cnt-row-height_tall $group_cnt-row-height;
}

.group_cnt a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
}

//各ブロック
.group_cnt{
    font-size: 2vw;
}
.group_cnt_exhibit {
    background-color: #00558f;
}
.group_cnt_theater {
    background-color: #489da7;
}
.group_cnt_perform {
    background-color: #80c4ca;
}
.group_cnt_h3 {
    background-color: #0e3262;
}
.group_cnt_messe {
    background-color: #0e3262;
}
.group_cnt_chuya {
    background-color: #0e3262;
}
.group_cnt_list {
    background-color: #0e3262;
}

@supports (display: flex) {
    .group_cnt {
        padding: 0;
        margin: 0;
    }
    .group_cnt_exhibit {
        grid-column: 1/5;
        grid-row: 1/2;
        background: url("../img/group-icon/group-icon_%E5%B1%95%E7%A4%BA.png") no-repeat center;
        background-size: cover;
    }
    .group_cnt_theater {
        grid-column: 5/9;
        grid-row: 1/2;
        background: url("../img/group-icon/group-icon_%E6%BC%94%E5%8A%87.png") no-repeat center;
        background-size: cover;
    }
    .group_cnt_perform {
        grid-column: 9/13;
        grid-row: 1/2;
        background: url("../img/group-icon/group-icon_%E3%83%91%E3%83%95%E3%82%A9.png") no-repeat center;
        background-size: cover;
    }
    .group_cnt_h3 {
        grid-column: 1/4;
        grid-row: 2/3;
        background: url("../img/group-icon/group-icon_%E9%AB%983.png") no-repeat center;
        background-size: cover;
    }
    .group_cnt_messe {
        grid-column: 4/7;
        grid-row: 2/3;
        background: url("../img/group-icon/group-icon_%E3%83%A1%E3%83%83%E3%82%BB.png") no-repeat center;
        background-size: cover;
    }
    .group_cnt_chuya {
        grid-column: 7/10;
        grid-row: 2/3;
        background: url("../img/group-icon/group-icon_%E4%B8%AD%E5%A4%9C.png") no-repeat center;
        background-size: cover;
    }
    .group_cnt_list {
        grid-column: 10/13;
        grid-row: 2/3;
        background: url("../img/group-icon/group-icon_%E4%B8%80%E8%A6%A7.png") no-repeat center;
        background-size: cover;
    }
}


//横スライド矢印
#arrowL {
    font-size: $arrow-size;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

#arrowR {
    font-size: $arrow-size;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

//デコ情報
.group-info_img {
    width: 80%;
    display: block;
    margin: auto;
}

.group-info {
    display: inline-block;
}

//PC用デコ3団体表示
.group-info.__display3.__L1 {
    margin-left: 4.5%;
    width: 30%;
}

.group-info.__display3.__M1 {
    width: 30%;
}

.group-info.__display3.__R1 {
    margin-right: 4.5%;
    width: 30%;
}

.group-info.__display3.__L2 {
    @extend .group-info.__display3.__L1;
}

.group-info.__display3.__M2 {
    @extend .group-info.__display3.__M1;
}

.group-info.__display3.__R2 {
    @extend .group-info.__display3.__R1;
}

//PC用デコ2団体表示
.group-info.__display2.__L {
    margin-left: 4.5%;
    width: 45%;
}

.group-info.__display2.__R {
    margin-right: 4.5%;
    width: 45%;
}

.group-link a {
    color: #555;
}

#id-timetable {
    background-repeat: no-repeat;
    background-size: cover;
}

#id-downloads {
    background-repeat: no-repeat;
    background-size: cover;
}

//参加団体一覧
#id-group-info {
    text-align: center;
    width: 100%;
}

#id-group-list {
    text-align: center;
    width: 100%;
}

.group-list {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#id-group-list h2 {
    font-size: 2vw;
    color: #fff;
}

.group-list td {
    padding: 7.5px 5px 7.5px 5px;
    text-align: left;
    font-size: 1.5vw;
}

.group-section_anchor {
    display: block;
    position: relative;
    visibility: hidden;
    top: -39px;
}

.group-section {
    background-color: $palette2;
    height: auto;
    padding: 5px 0;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.attention_cnt,
.group-list_cnt,
.group-info_cnt,
.timetable_cnt{
    position: fixed;
    border: 0;
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    width: 90%;
    height: 90%;
    left: 5vw;
    top: 2.5vh;
}

.timetable_cnt{
    background-color: rgba(255, 255, 255, 0);
}

.attention_cnt,
.group-list_cnt {
    z-index: 1000;
    -webkit-overflow-scrolling: touch !important;
    overflow-y: scroll !important;
}

.group-info_cnt,
.timetable_cnt{
    z-index: 2000;
    overflow-x: hidden;
}

.group-list_iframe {
    display: block;
    height: 99%;
    width: 100%;
    border-style: none;
}

.group-info_iframe {
    display: block;
    height: 90%;
    width: 100%;
    margin-top: 0;
    border-style: none;
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.group-list_close,
.group-info_close {
    position: fixed;
    bottom: 10px;
    z-index: 1100;
    left: 50vw;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    height: 50px;
    width: 50px;
    background: url("../img/nav_close.svg") no-repeat;
}


.deco-icon {
    vertical-align: bottom;
}

.timetable_img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

@import "_groupInfo";
@import "_student";
//@import "_foodInfo";
@import "_responsive-sp";
