AuthUserFile /home/users/0/lolipop.jp-dp21101700/web/tkkm/2018/src/.htpasswd
AuthGroupFile /dev/null
AuthName "login"
AuthType Basic
require valid-user
AddType "text/html; charset=utf-8" .html
#「index.html」ありのURLをなしに正規化
RewriteEngine on
RewriteCond %{THE_REQUEST} ^.*/index.html
RewriteRule ^(.*)index.html$ http://○○○.com/$1 [R=301,L]
