@charset "UTF-8";
/*$palette1: #554455 !default;
$palette2: #ffaa99 !default;
$palette3: #ffdddd !default;
$palette4: #dd9999 !default;
$palette5: #aa6666 !default;*/
/*$palette1: #82b028 !default;//萌黄色
$palette2: #9fc367 !default;//若葉色
$palette3: #6ab259 !default;//鮮緑
$palette4: #357743 !default;//常盤色
$palette5: #23532d !default;//深緑*/
* {
  margin: 0;
  line-height: 1.5; }

body {
  font-family: "Open Sans", "こぶりなゴシック W3 JIS2004", sans-serif;
  font-weight: 400; }

h1 {
  text-align: center;
  font-family: "Open Sans", "こぶりなゴシック W6 JIS2004", sans-serif;
  font-weight: 600;
  font-size: 2.5vw;
  margin: 0.5em; }

h2 {
  font-size: 1.5vw;
  margin: 0.5em; }

.content h2::before {
  content: "　";
  display: inline-block;
  background: url("../img/ringS_black.svg") no-repeat;
  background-size: contain;
  width: 1.5vw;
  margin-top: 0.4vw;
  margin-right: 0.5vw;
  vertical-align: middle; }

h3 {
  font-size: 1.25vw;
  font-weight: 400;
  margin: 0.5em; }

p {
  font-size: 1vw;
  margin: 0.5em; }

li {
  font-size: 1vw; }

td {
  font-size: 1vw; }

a {
  text-decoration: none;
  color: #333333; }

ul {
  list-style-type: none; }

.br-sp {
  display: none; }

.__alignL {
  text-align: left; }

.__alignR {
  text-align: right; }

.__indent1 {
  margin-left: 1em; }

.__indent2 {
  margin-left: 2em; }

@media only screen and (max-width: 1025px) and (max-aspect-ratio: 6 / 5) {
  h1 {
    font-size: 4.5vw; }
  h2 {
    font-size: 3.5vw; }
  .content h2::before {
    width: 3.5vw;
    margin-top: 1vw;
    margin-right: 1vw; }
  h3 {
    font-size: 2.5vw; }
  p {
    font-size: 2vw; }
  li {
    font-size: 2vw; }
  td {
    font-size: 2vw; }
  #menu {
    display: none; }
  #menu-sp {
    display: block; }
  #menu li a {
    font-size: 1.5vw; } }

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 6vw; }
  h2 {
    font-size: 4.5vw; }
  .content h2::before {
    width: 4.5vw;
    margin-top: 1vw;
    margin-right: 1.5vw; }
  h3 {
    font-size: 3.5vw; }
  p {
    font-size: 3.25vw; }
  li {
    font-size: 3.25vw; }
  td {
    font-size: 3.25vw; }
  .br-sp {
    display: inline; }
  .br-pc {
    display: none; } }

* {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

html::before {
  content: ' ';
  display: block;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -10; }

body {
  margin: 0;
  padding: 0; }

#fullpage {
  width: 100%;
  overflow-x: hidden; }

#loader {
  position: fixed;
  width: 150vw;
  height: 150vh;
  top: -25vh;
  left: -25vw;
  background-color: #fff;
  z-index: 99999;
  opacity: 100; }

#loader img {
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 70vw; }

#loader.loaded {
  visibility: hidden;
  transition: 1s all ease-out;
  opacity: 0; }

#blackout, #blackout_group-info {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  transition: .75s;
  width: 150vw;
  height: 150vh;
  top: -25vh;
  left: -25vw;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 40; }

#blackout.active, #blackout_group-info.active {
  visibility: visible;
  transition: .75s all ease-out;
  opacity: 100; }

#menu {
  width: 9%;
  left: -10%;
  top: 50%;
  transform: translateY(-50%);
  position: fixed;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.75);
  opacity: 0;
  transition: 1s all ease-out;
  margin: 0;
  padding: 0.5%; }

#menu.active {
  opacity: 1;
  left: 2.5%; }

#menu li {
  text-align: center; }

#menu li a {
  display: inline-block;
  font-size: 1vw; }

.menu_text a {
  width: 90%;
  padding: 10% 5%; }

.__coming-soon a {
  color: #888; }

.menu_SNS a {
  width: 25%;
  padding: 10% 2.5%; }

#menu li a:after {
  background-color: rgba(76, 161, 212, 0.75);
  content: '';
  display: block;
  height: 2px;
  position: relative;
  left: 5%;
  top: 3px;
  transition: .25s;
  width: 90%;
  transform-origin: center;
  transform: scale(0, 1); }

#menu li .menu_nohover:after {
  background-color: rgba(255, 255, 255, 0); }

#menu li a:hover::after {
  transform: scale(1, 1); }

#menu li.active a:after {
  transform: scale(1, 1); }

#menu img {
  width: 100%;
  padding-top: 0.5vw; }

#menu-sp {
  display: none;
  position: fixed;
  z-index: 50;
  transition: .75s;
  left: -50vw; }

#menu-sp_nav {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 2.5vw;
  width: 45vw;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center; }

#menu-sp li a {
  font-size: 5vw;
  line-height: 2; }

.menu-sp_text a {
  display: inline-block;
  width: 100%; }

.menu-sp_SNS a {
  display: inline-block;
  margin: 0 3vw;
  width: 20%; }

.menu-sp_icon {
  position: absolute;
  width: 10vw;
  height: 10vw;
  margin-top: 2.5vw;
  margin-left: 52.5vw; }

.menu-sp_icon.__open {
  background: url("../img/nav_open.svg") no-repeat;
  display: block; }

.menu-sp_icon.__close {
  background: url("../img/nav_close.svg") no-repeat;
  display: none; }

body.popup {
  background-color: rgba(255, 255, 255, 0); }

#fp-nav ul li a span {
  background-color: #fff; }

#id-home {
  text-align: center;
  position: relative; }

/*@keyframes home_down {
    0% {
        font-size: $home_down-size;
    }
    12.5% {
        font-size: $home_down-size-expand;
    }
    25% {
        font-size: $home_down-size;
    }
    100% {
        font-size: $home_down-size;
    }
}*/
.home_logo {
  position: absolute;
  left: 49%;
  transform: translateX(-50%);
  width: 40%;
  top: 12.5%; }

.home_content {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 47.5%;
  width: 75%;
  justify-content: space-around; }

.countdown {
  width: 32.5%;
  text-align: center;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.25);
  line-height: 1.25;
  padding: 2.5% 3.75%; }

.countdown_text {
  font-size: 2.5vw; }

.countdown_days {
  font-size: 7.5vw;
  line-height: 1.25; }

.news {
  width: 37.5%;
  text-align: center;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 2.5% 1.25%; }

.news_headline {
  font-size: 1.75vw;
  margin-bottom: 5px; }

.news_text {
  font-size: 1.25vw;
  text-align: left; }

.news span {
  padding: 10px; }

#home_down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  color: #fff;
  font-size: 7.5vw;
  margin: 0;
  width: 100%;
  height: 1em; }

.content {
  position: relative;
  margin: auto;
  width: 65vw;
  padding: 2.5vh 2.5vw;
  background-color: rgba(255, 255, 255, 0.5); }

.content.__narrow {
  width: 60vw;
  padding: 2.5vh 5vw; }

#id-access {
  background-repeat: repeat-y;
  background-size: cover; }

#id-access img {
  display: inline-block;
  width: 45%;
  margin-right: 2.5%;
  vertical-align: top; }

.access_text {
  display: inline-block;
  width: 50%;
  vertical-align: top; }

#id-group {
  text-align: center; }

.group_cnt {
  display: grid;
  grid-gap: 2.5vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20vh 20vh;
  font-size: 2vw; }

.group_cnt a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 5px; }

.group_cnt_exhibit {
  grid-column: 1/5;
  grid-row: 1/2;
  background-color: #4ca1d4; }

.group_cnt_theater {
  grid-column: 5/9;
  grid-row: 1/2;
  background-color: #57b0bc; }

.group_cnt_perform {
  grid-column: 9/13;
  grid-row: 1/2;
  background-color: #9dd2e7; }

.group_cnt_h3 {
  grid-column: 1/4;
  grid-row: 2/3;
  background-color: #134186; }

.group_cnt_messe {
  grid-column: 4/7;
  grid-row: 2/3;
  background-color: #283e6f; }

.group_cnt_chuya {
  grid-column: 7/10;
  grid-row: 2/3;
  background-color: #283e6f; }

.group_cnt_list {
  grid-column: 10/13;
  grid-row: 2/3;
  background-color: #283e6f; }

#arrowL {
  font-size: 5vw;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 20px; }

#arrowR {
  font-size: 5vw;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 20px; }

.group-info_img {
  width: 80%;
  display: block;
  margin: auto; }

.group-info {
  display: inline-block; }

.group-info.__display3.__L1, .group-info.__display3.__L2 {
  margin-left: 4.5%;
  width: 30%; }

.group-info.__display3.__M1, .group-info.__display3.__M2 {
  width: 30%; }

.group-info.__display3.__R1, .group-info.__display3.__R2 {
  margin-right: 4.5%;
  width: 30%; }

.group-info.__display2.__L {
  margin-left: 4.5%;
  width: 45%; }

.group-info.__display2.__R {
  margin-right: 4.5%;
  width: 45%; }

.group-link a {
  color: #555; }

#id-timetable {
  background-repeat: no-repeat;
  background-size: cover; }

#id-downloads {
  background-repeat: no-repeat;
  background-size: cover; }

#id-group-info {
  text-align: center;
  width: 100%; }

#id-group-list {
  text-align: center;
  width: 100%; }

.group-list {
  padding: 0;
  margin-left: auto;
  margin-right: auto; }

#id-group-list h2 {
  font-size: 2vw;
  color: #fff; }

.group-list td {
  padding: 7.5px 5px 7.5px 5px;
  text-align: left;
  font-size: 1.5vw; }

.group-section_anchor {
  display: block;
  position: relative;
  visibility: hidden;
  top: -39px; }

.group-section {
  background-color: #134186;
  height: auto;
  padding: 5px 0;
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0px; }

.group-list_cnt,
.group-info_cnt {
  position: fixed;
  border: 0;
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  width: 90%;
  height: 90%;
  left: 5vw;
  top: 2.5vh;
  -webkit-overflow-scrolling: touch !important;
  overflow-y: scroll !important; }

.group-list_cnt {
  z-index: 1000; }

.group-info_cnt {
  z-index: 2000; }

.group-list_iframe {
  display: block;
  height: 99%;
  width: 100%;
  border-style: none; }

.group-info_iframe {
  display: block;
  height: 90%;
  width: 100%;
  margin-top: 0;
  border-style: none;
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%); }

.group-list_close,
.group-info_close {
  position: fixed;
  bottom: 10px;
  z-index: 1100;
  left: 50vw;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  height: 50px;
  width: 50px;
  background: url("../img/nav_close.svg") no-repeat; }

.deco-icon {
  height: 30px; }

#arrowL {
  font-size: 5vw;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 20px; }

#arrowR {
  font-size: 5vw;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 20px; }

#id-group-list {
  text-align: center;
  width: 100%; }

#id-group-list h2 {
  font-size: 2vw;
  color: #fff; }

.group-list td {
  padding: 7.5px 5px 7.5px 5px;
  text-align: left;
  font-size: 1.5vw; }

.group-link a {
  color: #555; }

.deco-icon {
  height: 30px; }

.group-section_anchor {
  display: block;
  position: relative;
  visibility: hidden;
  top: 0; }

.group-section {
  background-color: #134186;
  height: auto;
  padding: 5px 0;
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0px; }

#id-group-info {
  text-align: center;
  width: 100%; }

.group-info {
  display: inline-block; }

.group-info_img {
  width: 80%;
  display: block;
  margin: auto; }

.group-list {
  padding: 0;
  margin-left: auto;
  margin-right: auto; }

.group-info.__display3.__L1, .group-info.__display3.__L2 {
  margin-left: 4.5%;
  width: 30%; }

.group-info.__display3.__M1, .group-info.__display3.__M2 {
  width: 30%; }

.group-info.__display3.__R1, .group-info.__display3.__R2 {
  margin-right: 4.5%;
  width: 30%; }

.group-info.__display2.__L {
  margin-left: 4.5%;
  width: 45%; }

.group-info.__display2.__R {
  margin-right: 4.5%;
  width: 45%; }

.group-list_cnt,
.group-info_cnt {
  position: fixed;
  border: 0;
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  width: 90%;
  height: 90%;
  left: 5vw;
  top: 2.5vh;
  -webkit-overflow-scrolling: touch !important;
  overflow-y: scroll !important; }

.group-list_cnt {
  z-index: 1000; }

.group-info_cnt {
  z-index: 2000; }

.group-list_iframe {
  display: block;
  height: 99%;
  width: 100%;
  border-style: none; }

.group-info_iframe {
  display: block;
  height: 90%;
  width: 100%;
  margin-top: 0;
  border-style: none;
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%); }

.group-list_close,
.group-info_close {
  position: fixed;
  bottom: 10px;
  z-index: 1100;
  left: 50vw;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  height: 50px;
  width: 50px;
  background: url("../img/nav_close.svg") no-repeat; }

@media only screen and (max-width: 1025px) and (max-aspect-ratio: 6 / 5) {
  #id-group-list h2 {
    font-size: 4vw; }
  .group-list td {
    font-size: 3vw; }
  .deco-icon {
    height: 5vw; }
  .group-info_img {
    width: 90%; }
  #arrowL {
    font-size: 10vw; }
  #arrowR {
    font-size: 10vw; } }

@media only screen and (max-width: 600px) {
  #id-group-list h2 {
    font-size: 5vw; }
  .group-list td {
    font-size: 4vw; }
  .group-list_cnt,
  .group-info_cnt {
    height: 87%; }
  .group-list_close,
  .group-info_close {
    height: 10vw;
    width: 10vw; }
  .group-info_img {
    width: 75%; }
  .deco-icon {
    height: 10vw; } }

/*$palette1: #554455 !default;
$palette2: #ffaa99 !default;
$palette3: #ffdddd !default;
$palette4: #dd9999 !default;
$palette5: #aa6666 !default;*/
/*$palette1: #82b028 !default;//萌黄色
$palette2: #9fc367 !default;//若葉色
$palette3: #6ab259 !default;//鮮緑
$palette4: #357743 !default;//常盤色
$palette5: #23532d !default;//深緑*/
.student_content {
  min-width: 50%;
  margin: 5% auto;
  padding: 2.5%; }

.student_content h1 {
  line-height: 1.5; }

.student_content h3 {
  padding-left: 1em; }

.student_content p {
  padding-left: 2em; }

h2.accordion_nav::before {
  background: url("../img/nav_expand.svg") no-repeat; }

h2.accordion_nav.active::before {
  background: url("../img/nav_fold.svg") no-repeat; }

.accordion_content {
  display: none; }

.accordion_content.active {
  display: block; }

/*$palette1: #554455 !default;
$palette2: #ffaa99 !default;
$palette3: #ffdddd !default;
$palette4: #dd9999 !default;
$palette5: #aa6666 !default;*/
/*$palette1: #82b028 !default;//萌黄色
$palette2: #9fc367 !default;//若葉色
$palette3: #6ab259 !default;//鮮緑
$palette4: #357743 !default;//常盤色
$palette5: #23532d !default;//深緑*/
@media only screen and (max-width: 1025px) and (max-aspect-ratio: 6 / 5) {
  #menu-sp {
    display: block; }
  /*@keyframes home_down {
        0% {
            font-size: $home_down-size-tb;
        }
        12.5% {
            font-size: $home_down-size-expand-tb;
        }
        25% {
            font-size: $home_down-size-tb;
        }
        100% {
            font-size: $home_down-size-tb;
        }
    }*/
  #home_down {
    font-size: 15vw;
    bottom: 15px; }
  .home_logo {
    width: 60%;
    top: 10%; }
  .home_content {
    flex-direction: column;
    align-items: center;
    top: 37.5%; }
  .countdown {
    width: 60%;
    margin-bottom: 5%;
    padding: 2.5% 5% 0 5%; }
  .countdown_text {
    font-size: 4vw;
    line-height: 1; }
  .countdown_days {
    font-size: 12.5vw; }
  .news {
    width: 65%;
    padding: 2.5%; }
  .news_headline {
    font-size: 3vw;
    margin-bottom: 7.5px; }
  .news_text {
    font-size: 2vw; }
  .content {
    width: 85vw;
    padding: 1.25vw 2.5vw; }
  .content.__narrow {
    width: 85vw;
    padding: 1.25vw 2.5vw; }
  #id-about h3 {
    margin-left: 2vw; }
  #id-about p {
    margin-left: 4vw; }
  .information_text {
    width: 90%;
    margin: 0 auto 2.5% auto; }
  #id-access img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2.5%; }
  #id-access p {
    margin-left: 2vw; }
  .access_text {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%; } }

@media only screen and (max-width: 770px) and (max-aspect-ratio: 6 / 5) {
  .home_logo {
    width: 70%;
    top: 10%; }
  .home_content {
    flex-direction: column;
    align-items: center;
    top: 35%; }
  .countdown {
    width: 70%;
    margin-bottom: 5%;
    padding: 2.5% 5% 0 5%; }
  .countdown_text {
    font-size: 5vw;
    line-height: 1.5; }
  .countdown_days {
    font-size: 15vw; }
  .news {
    width: 70%;
    padding: 5%; }
  .news_headline {
    font-size: 3.5vw;
    margin-bottom: 10px; }
  .news_text {
    font-size: 2.5vw; } }

@media only screen and (max-width: 600px) {
  #menu-sp {
    left: -70vw; }
  #menu-sp_nav {
    padding: 5vw;
    width: 60vw; }
  .menu-sp_icon {
    position: absolute;
    width: 12.5vw;
    height: 12.5vw;
    margin-left: 72.5vw; }
  #fp-nav ul li a span {
    display: none; }
  .home_logo {
    width: 80%;
    top: 15%; }
  .home_content {
    top: 40%;
    width: 90%; }
  .countdown {
    width: 80%;
    margin-bottom: 5%;
    padding: 2.5% 5% 0 5%; }
  .countdown_text {
    font-size: 6vw;
    line-height: 1.5; }
  .countdown_days {
    font-size: 17.5vw; }
  .news {
    width: 85%;
    padding: 2.5%; }
  .news_headline {
    font-size: 5vw;
    margin-bottom: 10px; }
  .news_text {
    font-size: 3.5vw; }
  /*@keyframes home_down {
        0% {
            font-size: $home_down-size-sp;
        }
        12.5% {
            font-size: $home_down-size-expand-sp;
        }
        25% {
            font-size: $home_down-size-sp;
        }
        100% {
            font-size: $home_down-size-sp;
        }
    }*/
  #home_down {
    font-size: 20vw; }
  .access_text {
    margin: 0;
    width: 100%; }
  .group_cnt {
    font-size: 5vw; } }

@media only screen and (max-aspect-ratio: 1 / 1) {
  .group_cnt {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 7.5vh 7.5vh 7.5vh 7.5vh 7.5vh 7.5vh 7.5vh;
    font-size: 4vw; }
  .group_cnt_1 {
    grid-column: 1/2;
    grid-row: 1/4; }
  .group_cnt_2 {
    grid-column: 2/3;
    grid-row: 1/4; }
  .group_cnt_3 {
    grid-column: 1/2;
    grid-row: 4/7; }
  .group_cnt_4 {
    grid-column: 2/3;
    grid-row: 4/5; }
  .group_cnt_5 {
    grid-column: 2/3;
    grid-row: 5/6; }
  .group_cnt_6 {
    grid-column: 2/3;
    grid-row: 6/7; }
  .group_cnt_7 {
    grid-column: 1/3;
    grid-row: 7/8; } }

/*# sourceMappingURL=main.css.map */
