@charset "UTF-8";
#foodInfoBody {
  background-image: url("../img/DSC02203-Dev.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

#foodInfo {
  padding: 2.5vh;
  margin: 0;
  display: block; }

#foodInfo h1 {
  font-size: 2.5vw;
  text-align: center;
  margin-top: 2.5vw;
  margin-bottom: -2.5vw; }

#foodInfo h2 {
  font-size: 2vw;
  line-height: 0; }

#foodInfo h3 {
  font-size: 1vw;
  text-align: right;
  margin-top: 1vw;
  margin-bottom: 2vw; }

#foodInfoContainer {
  display: flex; }

#Asahi {
  margin-left: auto;
  margin-right: auto; }

#Nakaniwa50th {
  margin-left: auto;
  margin-right: auto; }

.foodInfoTable {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  margin-bottom: 1.5vw;
  background-color: rgba(255, 255, 255, 0.75); }

.foodInfoTable td {
  display: table-cell;
  padding: 1vw;
  text-align: center;
  font-size: 2vw;
  white-space: nowrap;
  width: 17vw; }

.waitTime {
  width: 25vw; }

@media only screen and (max-width: 1025px) {
  #foodInfo h1 {
    font-size: 5vw; }
  #foodInfo h2 {
    font-size: 4vw; }
  #foodInfo h3 {
    font-size: 2vw; }
  .foodInfoTable {
    width: 90vw; }
  .foodInfoTable td {
    width: 25vw;
    font-size: 4vw; }
  .waitTime {
    width: 50vw; }
  #foodInfoContainer {
    display: block; } }

body {
  margin: 0;
  padding: 0; }

h1 {
  text-align: center;
  font-family: "新ゴ DB","Shin Go Debold",sans-serif;
  font-size: 2.5vw; }

h2 {
  font-family: "新ゴ M","Shin Go Medium",sans-serif;
  font-size: 1.5vw; }

h3 {
  font-family: "新ゴ R","Shin Go Regular",sans-serif;
  font-size: 1vw; }

p {
  font-family: "新ゴ R","Shin Go Regular",sans-serif;
  font-size: 1vw; }

li {
  font-family: "新ゴ R","Shin Go Regular",sans-serif;
  font-size: 1vw; }

td {
  font-family: "新ゴ R","Shin Go Regular",sans-serif;
  font-size: 1vw; }

a {
  font-family: "新ゴ R","Shin Go Regular",sans-serif;
  text-decoration: none;
  color: #333333; }

ul {
  list-style-type: none; }

#header {
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: #ffdddd; }

#header ul {
  margin: 0;
  padding: 0;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: flex-end; }

#header li {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 2px;
  text-align: center; }

#header li:first-child {
  margin-right: auto; }

#header li a {
  display: inline-block;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 15px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  vertical-align: middle; }

.headerTitle a {
  width: 125px; }

.headerText a {
  width: 125px; }

.headerSNS a {
  width: 30px; }

#header li:hover {
  background-color: rgba(200, 200, 200, 0.75); }

#header li.active {
  background-color: rgba(200, 200, 200, 0.75); }

#header-sp {
  display: none;
  position: fixed;
  width: 40%;
  padding-left: 10px;
  height: 39px;
  line-height: 40px;
  color: #fff;
  font-size: 20px;
  z-index: 110;
  border-right: solid 0.5px; }

#header-sp a {
  color: #fff; }

#header-currentSection-sp {
  display: none;
  position: fixed;
  width: 45%;
  margin-left: 40%;
  padding-right: 10px;
  text-align: right;
  height: 39px;
  line-height: 40px;
  color: #fff;
  font-size: 20px;
  z-index: 110; }

#menu-sp {
  display: none; }

.slicknav_menu {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 100; }

#idHome {
  background-image: url("../img/1920_1080_00.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative; }

@keyframes HomeDown {
  0% {
    font-size: 7.5vw; }
  12.5% {
    font-size: 10vw; }
  25% {
    font-size: 7.5vw; }
  100% {
    font-size: 7.5vw; } }

#HomeDown {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  color: #fff;
  font-size: 7.5vw;
  margin: 0;
  width: 100%;
  height: 1em;
  animation-name: HomeDown;
  animation-delay: 3s;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

#idInformation {
  background-image: url("../img/DSC02805-Dev.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px; }

.InformationContainer {
  display: block;
  margin: 0 2.5% 0 2.5%; }

.InformationText {
  width: 80%;
  margin: 0 auto 2.5% auto;
  padding: 1px 10px 1px 10px;
  background-color: #ffffff77; }

#idAccess {
  background-image: url("../img/壁紙_マルチ.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px; }

#idAccess h2 {
  text-align: left; }

#idAccess li {
  text-align: left; }

#idAccess img {
  float: left;
  width: 45%;
  margin-left: 2.5%;
  margin-right: 2.5%; }

.AccessText {
  float: left;
  width: 45%;
  margin-left: 2.5%;
  margin-right: 2.5%; }

#idGroup {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px; }

.GroupBlock {
  margin-left: 10vw;
  margin-right: 10vw;
  display: grid;
  grid-gap: 2.5vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px 150px;
  font-size: 2vw; }

.GroupBlock a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 5px; }

.GroupBlockL1 {
  grid-column: 1/5;
  grid-row: 1/2;
  background-color: #ffdddd; }

.GroupBlockL2 {
  grid-column: 5/9;
  grid-row: 1/2;
  background-color: #dd9999; }

.GroupBlockL3 {
  grid-column: 9/13;
  grid-row: 1/2;
  background-color: #aa6666; }

.GroupBlockS1 {
  grid-column: 1/4;
  grid-row: 2/3;
  background-color: #ffaa99; }

.GroupBlockS2 {
  grid-column: 4/7;
  grid-row: 2/3;
  background-color: #554455; }

.GroupBlockS3 {
  grid-column: 7/10;
  grid-row: 2/3;
  background-color: #554455; }

.GroupBlockW1 {
  grid-column: 10/13;
  grid-row: 2/3;
  background-color: #554455; }

#arrowL {
  font-size: 5vw;
  float: left; }

#arrowR {
  font-size: 5vw;
  float: right; }

.GroupImage {
  width: 80%;
  display: block;
  margin: auto; }

.GroupL {
  float: left;
  margin-left: 5%;
  width: 30%; }

.GroupM {
  float: left;
  width: 30%; }

.GroupR {
  float: left;
  margin-right: 5%;
  width: 30%; }

#idTimetable {
  background-image: url("../img/DSC02992-Dev.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

#idDownloads {
  background-image: url("../img/DSC02867-Dev.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

#idGroupList {
  text-align: center; }

.GroupList {
  padding: 0;
  margin-left: auto;
  margin-right: auto; }

.GroupList td {
  padding: 7.5px 5px 7.5px 5px;
  text-align: left; }

.GroupSection {
  background-color: #dd9999;
  padding: 10px 0 10px 0;
  margin: 0; }

.GroupInfo {
  position: fixed;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  z-index: 100;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0; }

.GroupInfo iframe {
  height: 100%; }

.GroupInfoClose {
  position: fixed;
  bottom: 5vh;
  padding: 30px;
  z-index: 110;
  left: 50%;
  transform: translateX(-50%); }

.decoIcon {
  height: 30px; }

@media only screen and (max-width: 1025px) {
  h1 {
    font-size: 6vw; }
  h2 {
    font-size: 4.5vw; }
  h3 {
    font-size: 3vw; }
  p {
    font-size: 3vw; }
  li {
    font-size: 3vw; }
  td {
    font-size: 3vw; }
  @keyframes HomeDown {
    0% {
      font-size: 20vw; }
    12.5% {
      font-size: 25vw; }
    25% {
      font-size: 20vw; }
    100% {
      font-size: 20vw; } }
  #HomeDown {
    font-size: 20vw; }
  #header li a {
    font-size: 1.5vw; }
  .headerTitle a {
    width: 12vw; }
  .headerText a {
    width: 12vw; }
  .headerSNS a {
    width: 3vw; }
  #idAccess img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%; }
  .AccessText {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%; }
  .GroupBlock {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 7.5vh 7.5vh 7.5vh 7.5vh 7.5vh 7.5vh 7.5vh;
    font-size: 4vw; }
  .GroupBlockL1 {
    grid-column: 1/2;
    grid-row: 1/4; }
  .GroupBlockL2 {
    grid-column: 2/3;
    grid-row: 1/4; }
  .GroupBlockL3 {
    grid-column: 1/2;
    grid-row: 4/7; }
  .GroupBlockS1 {
    grid-column: 2/3;
    grid-row: 4/5; }
  .GroupBlockS2 {
    grid-column: 2/3;
    grid-row: 5/6; }
  .GroupBlockS3 {
    grid-column: 2/3;
    grid-row: 6/7; }
  .GroupBlockW1 {
    grid-column: 1/3;
    grid-row: 7/8; }
  .decoIcon {
    height: 7.5vw; }
  #arrowL {
    font-size: 10vw; }
  #arrowR {
    font-size: 10vw; } }

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 8vw; }
  h2 {
    font-size: 6vw; }
  h3 {
    font-size: 4vw; }
  p {
    font-size: 4vw; }
  li {
    font-size: 4vw; }
  td {
    font-size: 4vw; }
  #header {
    display: none; }
  #header-sp {
    display: block; }
  .slicknav_menu {
    display: block; }
  #header-currentSection-sp {
    display: block; }
  .sectionTitle {
    display: none; }
  /*ハンバーガーメニューのエフェクト*/
  .slicknav_icon,
  .slicknav_icon span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box; }
  .slicknav_icon {
    position: relative;
    width: 50px;
    height: 44px; }
  .slicknav_menu .slicknav_icon-bar {
    position: absolute;
    left: 0; }
  .slicknav_icon span:nth-of-type(1) {
    top: 0; }
  .slicknav_icon span:nth-of-type(2) {
    top: 3px; }
  .slicknav_icon span:nth-of-type(3) {
    bottom: 0; }
  .active .slicknav_icon-bar:nth-of-type(1) {
    -webkit-transform: translateY(6px) rotate(-45deg);
    transform: translateY(6px) rotate(-45deg); }
  .active .slicknav_icon-bar:nth-of-type(2) {
    opacity: 0; }
  .active .slicknav_icon-bar:nth-of-type(3) {
    -webkit-transform: translateY(-6px) rotate(45deg);
    transform: translateY(-6px) rotate(45deg); }
  #idHome {
    background-image: url("../img/1242_2208_01.jpg");
    background-position: top center; }
  .GroupBlock {
    font-size: 5vw; }
  .decoIcon {
    height: 10vw; } }

/*# sourceMappingURL=main.css.map */
