<!DOCTYPE html>
<html lang="ja">
<body>
    <div id="header">
            <ul>
                <li style="float:left"><a href="index.html">トップ</a></li>

                <li data-menuanchor="H3Cafe" style="float:right"><a href="index.html#Groups">高3喫茶班</a></li>
                <li data-menuanchor="H3Food" style="float:right"><a href="index.html#Groups">高3食品班</a></li>
            </ul>
    </div>
</body>
</html>
